In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data = pd.read_csv("Cleaned_data.csv",index_col = 0);
data.head()
data.drop(['weather_type', 'PRECTOTCORR'],inplace = True,axis = 1)
data.iloc[:,1:].head()

,PS,WS10M,WS10M_RANGE,WD10M,T2M,RH2M,ALLSKY_SFC_SW_DWN,Visibility,Cloud Cover,Conditions
0,101.27,0.86,1.29,142.25,19.87,72.81,138.71,2.5,0.4,Clear
1,101.27,0.95,1.33,194.31,19.83,75.44,135.58,1.1,0.7,Clear
2,101.24,2.49,2.16,325.44,18.69,83.31,134.17,4.0,1.0,Clear
3,101.15,2.86,1.96,337.94,18.01,79.00,148.32,4.0,0.9,Clear
4,101.13,2.80,2.20,333.69,17.16,72.50,166.91,4.0,0.7,Clear

In [ ]:
X = data.iloc[:,1:-1];
y = data.Conditions;
# store the feature matrix (X) and response vector (y)

       PS  WS10M  WS10M_RANGE   WD10M    T2M   RH2M  ALLSKY_SFC_SW_DWN  \
0  101.27   0.86         1.29  142.25  19.87  72.81             138.71
1  101.27   0.95         1.33  194.31  19.83  75.44             135.58
2  101.24   2.49         2.16  325.44  18.69  83.31             134.17
3  101.15   2.86         1.96  337.94  18.01  79.00             148.32
4  101.13   2.80         2.20  333.69  17.16  72.50             166.91

   Visibility  Cloud Cover
0         2.5          0.4
1         1.1          0.7
2         4.0          1.0
3         4.0          0.9
4         4.0          0.7

0          Clear
1          Clear
2          Clear
3          Clear
4          Clear
          ...
2263    Overcast
2264    Overcast
2265    Overcast
2266    Overcast
2267    Overcast
Name: Conditions, Length: 2268, dtype: object

In [ ]:
X_train = X[:-100]
X_test = X[-100: ]
print(X_train.shape)

(2168, 9)

In [ ]:
X_train = X[:-100]
X_test = X[-100: ]
y_train = y[:-100]
y_test = y[-100:]

In [ ]:

# splitting X and y into training and testing sets
#from sklearn.model_selection import train_test_split
#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=1)
 
# training the model on training set
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(X_train, y_train)
 
# making predictions on the testing set
y_pred = gnb.predict(X_test)
# comparing actual response values (y_test) with predicted response values (y_pred)
from sklearn import metrics
print("Gaussian Naive Bayes model accuracy(in %):", metrics.accuracy_score(y_test, y_pred)*100)

Gaussian Naive Bayes model accuracy(in %): 78.0

In [ ]:
from sklearn.svm import SVC
#kernels = ['linear', 'poly', 'sigmoid', 'rbf']
#for k in kernels:

classifier = SVC(kernel = 'poly')
classifier.fit(X_train, y_train)
pred_y = classifier.predict(X_test)
print("accuracy of poly kernel is " ,metrics.accuracy_score(y_true= y_test, y_pred= pred_y))

accuracy of poly kernel is  0.91

In [ ]:
predictions = pd.read_csv("predictions.csv",index_col = 0);
#predictions.drop('Cloud Cover',inplace = True,axis = 1)
model.predict(predictions)

array(['Overcast', 'Clear', 'Partially cloudy', 'Partially cloudy',
       'Partially cloudy', 'Overcast', 'Partially cloudy',
       'Partially cloudy', 'Partially cloudy', 'Partially cloudy',
       'Partially cloudy', 'Clear', 'Clear', 'Clear', 'Partially cloudy',
       'Partially cloudy', 'Partially cloudy', 'Partially cloudy',
       'Partially cloudy', 'Partially cloudy', 'Partially cloudy',
       'Partially cloudy', 'Partially cloudy', 'Partially cloudy',
       'Partially cloudy'], dtype='<U16')

In [ ]:
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier

In [ ]:
model = tree.DecisionTreeClassifier()
model = model.fit(X_train, y_train)
pred_y = model.predict(X_test)
print("accuracy of decision tree is " ,metrics.accuracy_score(y_true= y_test, y_pred= pred_y))

accuracy of decision tree is  0.83

In [ ]:
predictions = pd.read_csv("predictions.csv",index_col = 0);
#predictions.drop('Cloud Cover',inplace = True,axis = 1)
model.predict(predictions)

array(['Overcast', 'Clear', 'Partially cloudy', 'Partially cloudy',
       'Partially cloudy', 'Overcast', 'Partially cloudy',
       'Partially cloudy', 'Partially cloudy', 'Partially cloudy',
       'Partially cloudy', 'Clear', 'Clear', 'Clear', 'Partially cloudy',
       'Partially cloudy', 'Partially cloudy', 'Partially cloudy',
       'Partially cloudy', 'Partially cloudy', 'Partially cloudy',
       'Partially cloudy', 'Partially cloudy', 'Partially cloudy',
       'Partially cloudy'], dtype=object)

In [ ]:
model = RandomForestClassifier(n_estimators = 10,criterion = 'entropy')
model = model.fit(X_train, y_train)
pred_y = model.predict(X_test)
print("accuracy of decision tree is " ,metrics.accuracy_score(y_true= y_test, y_pred= pred_y))

accuracy of decision tree is  0.86

In [ ]:
predictions = pd.read_csv("predictions.csv",index_col = 0);
#predictions.drop('Cloud Cover',inplace = True,axis = 1)
model.predict(predictions)

array(['Overcast', 'Clear', 'Partially cloudy', 'Partially cloudy',
       'Partially cloudy', 'Overcast', 'Partially cloudy',
       'Partially cloudy', 'Partially cloudy', 'Partially cloudy',
       'Partially cloudy', 'Clear', 'Clear', 'Clear', 'Partially cloudy',
       'Partially cloudy', 'Partially cloudy', 'Partially cloudy',
       'Partially cloudy', 'Partially cloudy', 'Partially cloudy',
       'Partially cloudy', 'Partially cloudy', 'Partially cloudy',
       'Partially cloudy'], dtype=object)

In [ ]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
model = LinearDiscriminantAnalysis()
model = model.fit(X_train, y_train)
pred_y = model.predict(X_test)
print("accuracy of LDA is " ,metrics.accuracy_score(y_true= y_test, y_pred= pred_y))

accuracy of LDA is  0.84

In [ ]:
predictions = pd.read_csv("predictions.csv",index_col = 0);

#predictions.drop('Cloud Cover',inplace = True,axis = 1)
y_prediction = model.predict(predictions)

In [ ]:
train_dates= data.Date
train_dates
f_dates= pd.date_range(list(train_dates)[-1], periods = 26, freq= '1d').tolist()
f_dates[1:]
forecast_dates = []
for time_i in f_dates:
    forecast_dates.append(time_i.date())

In [ ]:
df_forecast = pd.DataFrame({'Date':np.array(forecast_dates[1:]), 'Conditions':y_prediction})
df_forecast['Date']=pd.to_datetime(df_forecast['Date'])
df_forecast

         Date        Conditions
0  2023-03-21          Overcast
1  2023-03-22             Clear
2  2023-03-23  Partially cloudy
3  2023-03-24  Partially cloudy
4  2023-03-25  Partially cloudy
5  2023-03-26          Overcast
6  2023-03-27  Partially cloudy
7  2023-03-28  Partially cloudy
8  2023-03-29  Partially cloudy
9  2023-03-30  Partially cloudy
10 2023-03-31  Partially cloudy
11 2023-04-01             Clear
12 2023-04-02             Clear
13 2023-04-03             Clear
14 2023-04-04  Partially cloudy
15 2023-04-05  Partially cloudy
16 2023-04-06  Partially cloudy
17 2023-04-07  Partially cloudy
18 2023-04-08  Partially cloudy
19 2023-04-09  Partially cloudy
20 2023-04-10  Partially cloudy
21 2023-04-11  Partially cloudy
22 2023-04-12  Partially cloudy
23 2023-04-13  Partially cloudy
24 2023-04-14  Partially cloudy